name: Packaging

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: sed -i "s:9999:${VERSION//*v/}:" conda/meta.yaml
      env:
          VERSION: ${{ github.ref }}
    - name: Conda publish
      uses: docker://colomoto/conda-builder:latest
      with:
        subdir: conda
        anaconda_user: colomoto
        anaconda_token: ${{ secrets.ANACONDA_TOKEN }}
